body{
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

/* common section */
h1{
   font-size: 60px;
   font-weight: 1200;
   line-height:1.1;
   margin-bottom: 5px;
}

h2{
    font-size: 35px;
    font-weight: 1000;
  line-height: 1.2;
    margin-bottom: 5px;
}

h3{
    font-size: 25px;
    font-weight: 1500;
}

.primary-text{
    color: gray;
    font-weight:5;
    
}

h4{
    font-size: 22px;
    /* font-weight: 600; */
    color: white;
    line-height: 0.0;
}

.width{
    width: 70%;
}



/* header-section */
.banner-section{
background-image: url(/images/banner/banner1.png);
background-repeat: no-repeat;
padding: 150px 0px 450px 150px;

}

.header-parent{
    /* width: 50%; */
    /* margin: auto; */
    margin: 50px 200px 0 0px;
}


.header-parent{
    text-align: right;

}

.header-text{
    color: gray;
}

.header-btn{
    background-color: red;
    color:white;
    padding: 12px 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

/* 2nd section */
.second-section{
    display: flex;
    padding:10px 50px 0 150px ;
}

.img-container{
    width: 60%;
    margin-top: 0px;
    
}

.img{
    width: 80%;
    
}

.right-container{
    width: 50%;
    margin-top: 180px;
}

.icon-img{
    width: 30px;
}

.short-text{
    display: flex;
    line-height: 0.0;
}

/* my plan section */

.my-plan-section{
    text-align: center;
    margin: 70px 0;
}

.my-plan-container{
    display: flex;
    justify-content: center;
    gap: 8%;
    margin-top: 60px;

}

.icon-img-two{
    width: 80px;
    margin-top: 10px;
    
}

.my-plan-text{
    font-size: 22px;
    color: rgb(151, 146, 146);
    line-height: 0.0;
    
}

/* build-your-plan */

.build-your-plan{
    display: flex;
    padding: 100px 200px;
    gap: 20px;
    align-items:center;
}



.left-side{
    width: 50%;
}



/* right-side */
.build-your-plan-img{
    height: 430px;
    width: 100%;
}

.right-side{
    width: 50%;
}


        
/* positive-mindset-container */

.positive-mindset-container{
    background-image: linear-gradient(90deg, #f07241 0%, rgba(241, 91, 34, 0.00) 100%), url("/images/watch.png");
    background-repeat: no-repeat;
    background-size:cover ;
    width: 70%;
    margin: auto;
    padding: 30px 0 50px 50px ;
    margin-bottom: 100px;
}

.positive-mindset-header{
    color: white;
}

/* footer */

.left-side{
width: 50%;

}

.right-side{
width: 50%;
}

.footer-width{
    width: 90%;
}


.footer-section{
 
 color: rgb(202, 196, 196);
 display: flex;
 /* justify-content: space-between; */
  padding:80px 0px 80px 200px ;  
  background-color: black;
  gap: 20%;
  /* margin-bottom: 30px; */

}

.footer-header{
    color: white;
    font-size: 50px;
    font-weight: 1000;
    line-height: 0.9;
}

.footer-img{
    width: 8%;
    padding-right: 15px;
}




/* 
.footer-input{
padding:20px 20px 20px 20px;
text-align: left;

background-color: black;
border-radius: 5px;


} */

/* .input-container{
    background-color: black;
} */

.input{
width: 55%;
padding: 18px 0 18px 10px;
border-radius: 6px;
background-color: black;
border: 1px solid white;
font-size: 16px;
}

.footer-btn{
    padding:12px 25px ;
    background-color:  white;
    color: rgb(239, 78, 29);
    font-size: 18px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;

}


